/*navbar*/


.logo-mercadolibre{
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: -999px;
    height: 34px;
    width: 134px;
    display: flex;
    background-image: url(https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/6.5.5/mercadolibre/logo__large_plus.png);
}
header{
    height: 100px;
    display: flex;
    justify-content: center;
}
.navbar{
    display: grid;
    grid-template-areas:
        "nav-left-top nav-center-top nav-right-top"
        "nav-left-bottom nav-center-bottom nav-right-bottom";
    grid-template-columns: 162px minmax(340px, 580px) minmax(350px, 390px);
    grid-template-rows: 40px 28px;
    grid-column-gap: 24px;
    grid-row-gap: 12px;
    padding: 8px 10px 12px 10px;
}
.navbar-plus .nav-center-area.nav-top-area {
    grid-area: nav-center-top;
}

.buscador{
    z-index: 910;
    will-change: left;
    transition: left .15s ease-out;
    top: 0;
    right: 45px;
    max-width: 720px;
    left: -1px;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
    position: relative;
    overflow: visible;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h3 {
    text-align: center;
}

.product-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-group {
    display: flex;
    justify-content: space-between;
}

.product-item {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.product-item img {
    max-width: 100%;
    height: auto;
}

.product-item p {
    margin: 10px 0;
}
#enlaces {
    display: inline;
    justify-content: center;
}

#enlaces a {
    margin: 5px; 
    border: 4px solid white; 
}
#enlaces img {
    width: 279px;
    height: auto;
    border-radius: 10px;
}

.enlaces {
    display: inline;
    justify-content: center;
}
.enlaces img {
    width: 385px;
    border-radius: 10px;
    margin: 5px;
}

#rotate-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    flex: auto;
    cursor: pointer;
}
.rotate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}


.TituloCategoria {
    display: flex;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 45px;
}



.beneficiosh1 {
    font-size: 10px;
    margin-top: 150px;
    font-family:monospace;
    color:rgb(99, 99, 99);
}
.primerbeneficio {
    display: flex;
    justify-content: center;
    height: 200px;
}
.primerbeneficio img{
    border-radius: 10px;
    margin: 15px;
}

.segundobeneficio {
    display: flex;
    justify-content: center;
    height: 165px;
}
.segundobeneficio img {
    border-radius: 10px
}

.tercerbeneficio {
    display: flex;
    justify-content: center;
    height: 252px;
}

.tercerbeneficio img{
    border-radius: 10px;
    margin: 10px;
}



.contenedorimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ofertas {
    height: 140px;
    width: 140px;
    margin: 20px;
}
.img h1 {
    font-size: 15px;
    margin: 0;
    text-align: center;
}

footer {
    background-color: #f2f2f2;
    padding: 20px 0;
    font-family: arial;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.footer-section {
    width: 30%;
    padding: 0 20px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #757575;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}
